<tr>
        <td id="cel1" class="cell" data-cell="">



                <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-1 </p>





        </td>
        <td id="cel2" class="vert cell" data-cell="">

                <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-2 </p>



        </td>
        <td id="cel3" class="cell" data-cell="">
                 <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-3 </p>
        </td>
</tr>
<tr>
        <td id="cel4" class="cell hori" data-cell="">
                <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-4 </p>
        </td>
        <td id="cel5" class="cell vert hori" data-cell="">
                 <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-5 </p>
        </td>
        <td id="cel6" class="cell hori" data-cell="">
                 <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-6 </p>
        </td>
</tr>
<tr>
        <td id="cel7" class="cell hori" data-cell="">
        <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-7 </p>
        </td>
        <td id="cel8" class="cell vert" data-cell="">
                <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-8 </p>
        </td>
        <td id="cel9" class="cell hori" data-cell="">
         <div class="profile2">

                        <img src="assets/images/hedgehog2.svg" alt="profile1">
                        <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
                                {{#if sleep}}
                                <h2>Eat Me </h2>{{/if}}
                        </a>
                </div>

                <p class="page-inner ">{{burger_name}}-9 </p>
        </td>
</tr>