<li >
	{{!-- {{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">

        {{#if sleep}}Eat Me!{{/if}}
	</button> --}}

	<div class="profile2">
		
                                <img src="assets/images/humb.png" alt="profile1">
                              <a href="#" class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}" >
                                      {{#if sleep}}<h2>Eat Me </h2>{{/if}} 
                                      </a> 
                            </div>
         
                            <p class="page-inner ">{{burger_name}} </p>
<hr style="width: 30%">
</li>